.hero {
    background-color: var(--color-primary-opacity);
    color: var(--font-color-white);
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 130px;
}

.hero .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
}

.hero .hero-container {
    max-width: 1920px;
    width: 100%;
}


.hero .hero-container .hero-title {
    font-weight: 300;
    font-size: 80px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    max-width: max-content;
    animation: typing-instant 2s steps(25);
}

.hero .hero-container .hero-title span {
    font-family: "Evanston Tavern", "Poppins", sans-serif;
    font-weight: 500;
    font-size: 120px;
    background: linear-gradient(135deg, var(--color-purple-light), var(--color-secondary), var(--color-dark-purple));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;
    border-right: 4px solid #FFF;
    animation: gradientAnimation 3s ease infinite, blinking 0.5s infinite step-end alternate;
    position: relative;
    top: -60px;
}

.hero .hero-container a {
    color: #FFF;
    align-self: center;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-primary);
    font-size: 20px;
    transition: 0.3s ease-in-out;
}

.hero .hero-container a:hover {
    background-color: transparent;
    color: var(--color-secondary);
    box-shadow:
        0 0 12px var(--color-secondary),
        0 0 20px var(--color-secondary);
}