header {
    background-color: #19002b;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    margin: auto;
}

header .menu .logo {
    transition: 0.3s ease-in-out;
}

header .menu .logo:hover {
    transform: scale(1.05);    
}

nav ul {
    display: flex;
}

nav ul li a {
    padding: 10px;
    font-size: 18px;
    color: #FFF;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover {
    background: #92015d;
    color: #22003a;
    box-shadow: 
    0 0 12px #92015d,
    0 0 20px #92015d;
}

/* header {
    background: linear-gradient(135deg, #4B0082, #8A2BE2, #C71585);
    background-size: 200% 200%;
    animation: gradientAnimation 10s ease infinite;
} */