:root {
    --color-dark-purple: #19002B;
    --color-dark-purple-opacity: rgba(25, 0, 43, 0.95);
    --color-purple-light: #3f026b;
    --color-purple-light-opacity: rgba(63, 2, 107, 0.2);

    --color-primary: #22003A;
    --color-primary-opacity: rgba(34, 0, 58, 0.8);
    --color-secondary: #92015D;

    --font-color-white: #FFF;
    --font-color-gray: #CCC;

    --color-gray-opacity: rgba(204, 204, 204, 0.3);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Evanston Tavern';
    src: url(./assets/fonts/EvanstonTavern-1846MdStencil.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes typing-instant {
    from {
        width: 0;
    }

    to {
        width: 25ch;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

::-webkit-scrollbar {
    width: 12px;
    background-color: var(--color-purple-light);
}

::-webkit-scrollbar-track {
    background-color: var(--font-color-gray);
    padding: 0 1px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 10px;
    border: 1px solid var(--font-color-gray);
}
